:root {
  font-size: 20px;

  /* Old-Style-Fonts: */
  /* <link href="https://fonts.googleapis.com/css?family=Alegreya+SC|Almendra+SC|Balthazar|Cormorant+Unicase|IM+Fell+English+SC|IM+Fell+Great+Primer+SC" rel="stylesheet"> */
  
  font-family: 'Balthazar', serif;
  /* font-family: 'IM Fell English SC', serif; */
  /* font-family: 'Almendra SC', serif; */
  /* font-family: 'IM Fell Great Primer SC', serif; */
  /* font-family: 'Alegreya SC', serif;       */
  /* font-family: 'Cormorant Unicase', serif; */


  /* Future-Style-Fonts: */
  /* <link href="https://fonts.googleapis.com/css?family=Cute+Font|Iceland|Kirang+Haerang|NTR|Stylish" rel="stylesheet"> */
  /* font-family: 'Cute Font', cursive; */
  /* font-family: 'Iceland', cursive; */
  /* font-family: 'NTR', sans-serif; */
  /* font-family: 'Stylish', sans-serif; */

  /* CSS Variables: */
  --player : hsl(115, 100%, 40%);
  --otherPlayer : hsl(0, 100%, 40%);
  --gameMaster : hsl(194, 100%, 40%);
  --trans-time : 2s;
}
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body {
  background: url("/img/dunkel.jpg");
  /* background-repeat: no-repeat;
  background-size: contain; */
  /*border: 4px solid transparent;
  -webkit-border-image : url("/img/woodchips.jpg") 30 round;
  -o-border-image : url("/img/woodchips.jpg") 30 round;
  border-image : url("/img/woodchips.jpg") 30 round; */
}
.main-container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 600px;
  background-color: hsla(32, 40%, 90%, 0.89);
}
section {
  border-bottom: 2px solid grey;
  padding: 0.6rem 0.5rem;
}
section > div {
  margin-top: 1rem;
}
h1 {
  font-size: 1.8rem;
  padding: 0.3rem 0;
}
h3, h4, h5 { margin-bottom: 0.6rem; }
h4 {
  font-weight: normal;
  /* text-decoration: underline; */
  font-size: 0.7rem;
}
form { padding: 0.3rem 0; }
input[type="submit"], input[type="text"] {
  padding: 0.3rem;
  background-image: none;
  font: inherit;
}
.player { color: var(--player); }
.opponent { color: var(--otherPlayer); }
.hidden { display: none; }

#info-box {
  text-align: right;
  font-size: 0.7rem;
  color: var(--player);
}
#message-box {
  min-height: 66px;  /* 2 lines */
  min-height: 99px; /* 3 lines */
  line-height: 1.5;
  font-style: italic;
  font-size: 1.1rem;
  /* font-weight: bold; */
  color: var(--gameMaster);
  /* doesn't work yet: */
  transition: all var(--trans-time);
}
#enigma { font-size: 2.5rem; }
#wrong-guesses {
  font-size: 1.5rem;
  text-decoration: line-through;
}
#enigma span,
#wrong-guesses span {
display: inline-block;
padding: 0 0.4rem;
}
#guess-input {
  margin-left: 1rem;
  font-size: 2.8rem;
  width: 4rem;
  text-align: center;
}
#submit-guess {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gallow-wrapper {
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
#wrong-guesses {
  display: -webkit-flex;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
}
#gallow {
  height: 10rem;
  border: 1px solid red;
  min-width: 8em;
}

/* ============================ */
#word-selection {
  margin-bottom: 1rem;
}
#dict-result {
  font-size: 0.8rem;
}